:host {
    display: block;
    min-height: 230px;
    min-width: 500px;

    div {
        display: flex;
        height: 275px;
        align-items: center;

        img {
            width: 100%;
            display: inline-block;
            margin: 0 5px;

        }
    }

    h2 {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        color: #111111;
    }
}
