<div>
    <mat-label>Ammunition</mat-label>
    <app-item (click)="changeItem('Ammunition',$event)" type="30 Round Clip"></app-item>
    <app-item (click)="changeItem('Ammunition',$event)" type="50 Round Clip"></app-item>
</div>
<div>
    <mat-label>Rifles</mat-label>
    <app-item (click)="changeItem('Rifle',$event)" type="AK-47"></app-item>
    <app-item (click)="changeItem('Rifle',$event)" type="M16"></app-item>
</div>
<div>
    <mat-label>Optics</mat-label>
    <app-item (click)="changeItem('Optics',$event)" type="ACOG"></app-item>
    <app-item (click)="changeItem('Optics',$event)" type="Red Dot"></app-item>
</div>
